<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      <h2> Your Events </h2>
      </div>
      <div class="panel-body">
        <div class="row">
            <% @events.each do |event| %>
              <div class="col-sm-4">
                <div class="col-sm-12">
                  <%= image_tag event.picture, class: "small-image-size" %>
                </div>
                <div class="col-sm-12">
                  <div>
                  <label>Name: <%= event.name %></label>
                </div>
                  <label>Capacity: <%= event.capacity %></label>
                  <label>Price: <%= event.price %></label>
                  <label>Guests: <%= event.guests %></label>
                </div>
                <div class="col-sm-12">
                  <%= link_to "View", event, class: "btn btn-default" %>
                  <%= link_to "Update", edit_event_path(event), class: "btn btn-default" %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <%= link_to "Add new event", new_event_path, class: "btn btn-primary" %>
  </div>
</div>
